{
  "extends": ["standard-react", "airbnb-base", "eslint:recommended", "plugin:react/recommended"],
  "plugins": [
    "jsx-a11y",
    "react",
    "babel",
  ],
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "env": {
    "node": true,
    "browser" : true,
    "es6": true
  },
  "rules": {
    "semi": 2,
    "import/no-extraneous-dependencies": 0,
    "react/prop-types": 0,
    "no-mixed-spaces-and-tabs": 0,
    "import/no-unresolved": 0,
    "no-tabs": 0,
    "no-unused-vars": 0,
    "max-len": 0,
    "react/jsx-indent": [2, "tab"],
    "class-methods-use-this": ["error", {
      "exceptMethods": [
        "render",
        "getInitialState",
        "getDefaultProps",
        "componentWillMount",
        "componentDidMount",
        "componentWillReceiveProps",
        "shouldComponentUpdate",
        "componentWillUpdate",
        "componentDidUpdate",
        "componentWillUnmount",
      ]
    }],
    "react/display-name": ["off", { "ignoreTranspilerName": false }],
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "15.0",
      "flowVersion": "0.53"
    },
    "propWrapperFunctions": [ "forbidExtraProps" ]                                 
  }
}